{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td class="text-start">{{ row.symbol }}</td>
                <td class="text-end">{{ row.shares }}</td>
                <td class="text-end">{{ row.price | usd() }}</td>
                <td class="text-end">{{ row.transacted_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}