{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="symbol">
            <option disabled selected>Open this select menu</option>
            {% for row in rows %}
            <option value="{{ row.symbol }}">{{ row.symbol }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares"
            placeholder="Shares" type="number" required>
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}