<!DOCTYPE html>

<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Birthdays</title>
</head>

<body>
    <div class="header">
        <h1>Birthdays</h1>
    </div>
    <div class="container">
        <div class="section">

            <h2>Add a Birthday</h2>
            <!-- TODO: Create a form for users to submit a name, a month, and a day -->
            <form action="/" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
                <label for="month">Month:</label>
                <input type="text" name="month" id="month">
                <label for="day">Day:</label>
                <input type="text" name="day" id="day">
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="section">

            <h2>All Birthdays</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birthday</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TODO: Loop through the database entries to display them in this table -->
                    {% for birthday in birthdays %}
                    <tr>
                        <td>{{ birthday.name }}</td>
                        <td>{{ birthday.month }}, {{ birthday.day }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>